<div class="app">
  <h3>Airline Passengers</h3>
  <div class="actions">
    <button class="all-passengers" [ngClass]="boton1 ? 'clickedGreen' : '' " (click)="filterPassengers(null, 1)" style="margin-right: 10px;">All</button> <!-- botón verde -->
    <button class="checked-in-passengers" [ngClass]="boton2 ? 'clickedGreen' : '' " (click)="filterPassengers(true, 2)" style="margin-right: 10px;">Checked in</button> <!--  botón verde -->
    <button class="not-checked-in-passengers" [ngClass]="boton3 ? 'clickedGreen' : '' " (click)="filterPassengers(false, 3)">Not Checked in</button> <!--  botón verde -->
  </div>
  <ul>
    <li *ngFor="let passenger of passengers; let i=index;">
       <div *ngIf="(passenger.checkedIn==display) || display==null" class="card"> 
        <img src="assets/img/flags/{{ (passenger.nationality ? passenger.nationality : defaultFlag)}}" width="17"/>
         <span class="status" [class.checked-in]="passenger.checkedIn"></span>
        {{i}}: {{passenger.fullname}}
        <div class="date">
          Check in date:
          {{(passenger.checkedIn ? (passenger.checkInDate | date: 'MMMM d, y') : 'Not checked in') | uppercase}} <!-- passenger.checkedIn -->
        </div>
        <div class="children">
         Children: {{passenger.children?.length || 0}}
        </div>
      </div>
    </li>
  </ul>
</div>

