<div *ngIf="detail.checkedIn == displayH2 || displayH2 == null" class="card"> <!-- OJO -->
  <div class="passenger-status">
    <span class="status" [class.checked-in]="detail.checkedIn"></span>
    <div class="date">
      Check in date: {{ (detail.checkedIn ? (detail.checkInDate | date: 'MMMM d, y') : 'Not checked in') | uppercase }} <!-- detail.checkInDate -> detail.checkedIn -->
    </div>
  </div>
  <div class="passenger-info">
    <div *ngIf="editing">
      <input type="text" style="color: black;" [value]="detail.fullname" (input)="onNameChange(name.value)" #name /> <!-- Entendido -->
    </div>
    <div *ngIf="!editing">
      <img src="assets/img/flags/{{ (detail.nationality ? detail.nationality : defaultFlag) }}" width="17" />
      {{ detail.fullname }}
    </div>
  </div>
  <div class="passenger-children">
    Children: {{ detail.children?.length || 0 }}
  </div>
  <div class="passenger-detail-actions">
    <button style="margin-right: 10px;" (click)="onSelect()">Select</button>
    <button style="margin-right: 10px;" (click)="toggleEdit()">{{ editing ? 'Done' : 'Edit' }}</button>
    <button style="margin-right: 10px;" (click)="onRemove()">Remove</button>
    <button *ngIf="!detail.checkedIn" (click)="onCheckIn()">CheckIn</button>
  </div>
</div>
