<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Lista de Empleados</span>
            <button class="btn btn-dark btn-lg float-end" routerLink="/create-empleado">Añadir</button>
            <h5 *ngIf="empleados.length==0" style="margin-top: 30px;">No hay datos para mostrar</h5>
            <table *ngIf="empleados.length > 0" class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Documento</th>
                    <th>Salario</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let empleado of empleados">
                    <td>{{empleado.nombre}}</td>
                    <td>{{empleado.apellido}}</td>
                    <td>{{empleado.documento}}</td>
                    <td>{{empleado.salario | currency:"EUR":"symbol"}}</td>
                    <td><i class="fa-solid fa-lg fa-pen-to-square text-info" [routerLink]="['/editEmpleado/', empleado.id]"></i></td>
                    <td><i (click)="eliminarEmpleado(empleado.id)" class="fa-solid fa-lg fa-trash text-danger"></i></td>
                  </tr>
                </tbody>
              </table>
              <!--
              <ul>
                <li class="text" *ngFor="let item of items | async">
                  {{item.name}}
                </li>
              </ul> 
              -->
        </div>
    </div>
</div>