<form (ngSubmit)="addTask()">
    <fieldset>
        <label style="margin-left: 10px;" for=""> Title:</label> <br>
        <input style="margin-left: 10px;" name="title" type="text" id="" [(ngModel)]="title">
    </fieldset>

    <fieldset> 
        <label style="margin-left: 10px;" for=""> Description:</label> <br>
        <input style="margin-left: 10px;" name="description" type="text" id="" [(ngModel)]="description">
    </fieldset>
    <br>
    <input style="margin-left: 10px;" type="submit" value="Add">
</form>
